# SF Salaries 

Dataset From kaggle.com

In [1]:
import pandas as pd
sal = pd.read_csv('Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [2]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

#### average BasePay

In [3]:
sal['BasePay'].mean()

66325.4488404877

#### maximum OvertimePay

In [4]:
sal['OvertimePay'].max()

245131.88

#### maximum TotalPayBenefits Employee

In [5]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

#### minimum TotalPayBenefits Employee

In [6]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

#### unique JobTitle count

In [7]:
sal['JobTitle'].nunique()

2159

#### top 5 most common jobs

In [8]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

#### top 5 highest pay jobs

In [9]:
sal.sort_values('TotalPayBenefits', ascending = False).head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,NaN
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,NaN
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,NaN

#### sum of only one JobTitle in 2013

In [10]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

#### sum of "Chief" in job title

In [11]:
sum(sal['JobTitle'].apply(lambda x: True if 'chief' in x.lower() else False))

627

#### Job Title length and TotalPayBenefits correlation

In [12]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['TotalPayBenefits', 'title_len']].corr() 
# No correlation.

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

#### How have salaries changed over time between different groups of people? (Avg per year)

In [13]:
sal.groupby('Year')['BasePay'].mean().round()

Year
2011    63596.0
2012    65436.0
2013    69630.0
2014    66564.0
Name: BasePay, dtype: float64

#### How are base pay, overtime pay, and benefits allocated between different groups?

In [14]:
# fill in missing data
sal[['BasePay', 'OvertimePay', 'Benefits']] = \
    sal[['BasePay', 'OvertimePay', 'Benefits']].fillna(
        sal.groupby('JobTitle')[['BasePay', 'OvertimePay', 'Benefits']]\
        .transform('mean').fillna(0))

sal[['BasePay', 'OvertimePay', 'Benefits']].isnull().sum()

BasePay        0
OvertimePay    0
Benefits       0
dtype: int64

In [15]:
sal.groupby('Year')[['BasePay', 'OvertimePay', 'Benefits']].mean().round()

      BasePay  OvertimePay  Benefits
Year
2011  63596.0       4531.0       0.0
2012  65436.0       5023.0   26440.0
2013  69419.0       5282.0   23829.0
2014  66557.0       5401.0   24787.0

In [16]:
sal.groupby('JobTitle')[['BasePay', 'OvertimePay', 'Benefits']]\
    .mean().round().sort_values('BasePay', ascending = False)

                                         BasePay  OvertimePay  Benefits
JobTitle
Chief of Police                         309768.0          0.0   82549.0
Chief, Fire Department                  304232.0          0.0   82894.0
Gen Mgr, Public Trnsp Dept              297769.0          0.0   82927.0
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)  285262.0          0.0       0.0
Dep Dir for Investments, Ret            276154.0          0.0   77139.0
...                                          ...          ...       ...
Captain, (Fire Department)                   0.0          0.0       0.0
Public Safety Comm Tech                      0.0          0.0    7959.0
RECREATION DIRECTOR                          0.0         29.0       0.0
WAREHOUSE WORKER                             0.0          0.0       0.0
Cashier 3                                    0.0          0.0       0.0

[2159 rows x 3 columns]